/*police raleway*/
* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0 1rem;
  font-weight: bolder;
}
h2 {
  font-size: 0.9rem;
  font-weight: bolder;
  line-height: 0.8rem;
}
p {
  font-size: 0.8rem;
  line-height: 0rem;
}
body {
  width: 100%;
}
main {
  /*ensemble hébergements,populaires et activités*/
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}
/*2 sections de main sur fond gris*/
.principal1,
.principal2 {
  background-color: #f2f2f2;

  border-radius: 1rem;
}

.principal1 a,
.principal2 a,
.principal3 a {
  /*liens afficher plus et hébergement en noir non soulignés*/
  text-decoration: none;
  color: black;
}

section {
  margin: 1rem;
}
/* section principal3 activités*/

.principal3 {
  width: 1240px;
  height: 453px;
}
.activites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.act1 {
  width: 262.6px;
  height: 385.1px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin-left: 0;
  margin-right: 0;
}

.act2 {
  width: 262.6px;
  height: 185px;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin-left: 0;
  margin-right: 0;
}
.acti1 {
  width: 262.6px;
  height: 380px;
  position: relative;

  border-radius: 1rem;
}

.acti2 {
  width: 262.6px;
  height: 200px;
  position: relative;

  border-radius: 1rem;
}

.acti3 {
  width: 262.6px;
  height: 150px;
  position: relative;

  border-radius: 1rem;
}

.acti4 {
  width: 262.6px;
  height: 380px;
  position: relative;

  border-radius: 1rem;
}

.acti5 {
  width: 262.6px;
  height: 160px;
  position: relative;

  border-radius: 1rem;
}

.acti6 {
  width: 262.6px;
  height: 168px;
  position: relative;

  border-radius: 1rem;
}

.legende {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 262.6px;
  height: 51px;
  position: absolute;
  bottom: 0;
  padding-left: 1rem;
  padding-top: 0.3rem;
}
.legende36 {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 248px;
  height: 51px;
  position: absolute;
  bottom: 0;
  padding-left: 1rem;
  padding-top: 0.3rem;
}
