/*police raleway*/
* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1rem;
  margin: 1.5rem 0 0 3rem;
  font-weight: bolder;

}
h2 {
  font-size: 0.8rem;
  font-weight: bolder;
  line-height: 0.2rem;
}
p {
  font-size: 0.8rem;
  line-height: 0rem;
}
body {
  width: 100%;
}
main {
  /*ensemble hébergements,populaires et activités*/
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
}
section {
  margin: 1rem;
}
/*section hébergements*/
.hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
figure {
  width: 30%;
  position: relative;

  background-color: white;
  border-radius: 1rem;

  margin-left: 0;
  margin-right: 0;
}
.hebergements img {
  height: 8rem;
  width: 96%;
  padding: 0.3rem;
  border-radius: 1rem;
}

figcaption {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 92.4%;
  height: 3.5rem;
  position: absolute;
  bottom: -1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
  line-height: 0rem;
}

.star img {
  width: 0.5rem;
  height: auto;
  padding: 0;
}
.star {
  display: flex;
}
/*section populaires*/
.populaires {
  display: flex;
}
/*section activités*/
.activites {
  display: flex;
}
/*3 sections de main sur fond gris*/
.principal1,
.principal2 {
  background-color: #f2f2f2;
  margin-left: 6%;
  border-radius: 1rem;
}
.principal1 {
  width: 55%;
  max-height: 30rem;
}
.principal1 a{ /*lien afficher plus en noir*/
  text-decoration: none;
color:black;

{
text-decoration: none;
color: red;
}
}
.principal2 {
  width: 27.5%;
}
.principal3 {
  margin-left: 6%;
  width: 90%;
}
#afficher {
  margin:  2rem 0 2rem 3rem;
  ma
}
