/*police raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.2rem;
  font-weight: bolder;
}
h2 {
  font-size: 1.2rem;
  font-weight: bolder;
}
h3 {
  font-size: 0.8rem;
  font-weight: bolder;
  line-height: 0.8rem;
}
p {
  font-size: 0.8rem;
  line-height: 0rem;
}
body {
  margin: auto;
}

/*barre navigation*/
header {
  padding-top: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;

  padding-left: 2%;
}
.entete {
  display: flex;
  justify-content: right;
  font-size: 0.8em;
}

header ol {
  min-width: 12rem;
  list-style-type: none;
  display: flex;
  justify-content: right;
}

.entete a {
  color: #000;
  text-decoration: none;
  padding-top: 1rem;
}
#insc {
  color: #0065fc;
  font-weight: bold;
  padding-left: 1rem;
  text-decoration: none;
  border-top: none;
}
.entete1 li {
  padding-left: 3rem;
  padding-right: 0;
}
.entete a:hover {
  color: #0065fc;
  border-top: 1px solid;
}

/*sous le header section1*/
.section1 {
  margin-left: 2rem;
}

/*zone de recherche*/
.zonerecherche {
  padding-top: 1rem;
  display: flex;
}
.rechercher i {
  color: #000;
  background-color: #f2f2f2;
  padding: 0.7rem 1rem;
  border-radius: 1rem 0 0 1rem;
}
.rechercher input {
  width: 15rem;
  height: 2.1rem;
  border: solid 0.05rem #f2f2f2;
  margin: -0.3rem;
}
.chercher {
  height: auto;
  background-color: #0065fc;
  padding: 0.7rem 1rem;
  border-radius: 0 1rem 1rem 0;
}

#chercher {
  font-size: 0.8rem;
  color: white;
}

#loupe {
  display: none;
}

/*filtres changent au survol, boutons arrondis, icone bleue sur fond bleu clair*/
.sectionfiltres {
  display: flex;
  margin-left: -3rem;
}
button {
  background-color: #ffff;
  border: none;
  height: 2em;
  width: auto;
}

.sectionfiltres i {
  font-size: 1.1rem;
  position: relative;
  left: -1.7rem;
  bottom: 0;
}
.sectionfiltres .fa-circle {
  color: #deebff;
  font-size: 2.4rem;
  position: absolute;
  left: -2.3rem;
  top: -0.85rem;
}
.filtres1 {
  margin-left: 5rem;
  margin-top: 2.5rem;
  min-width: auto;
  border: none;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
}

.filtres {
  margin: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2.3rem;
  border: solid;
  border-color: #f2f2f2;
  border-width: 0.15em;
  color: black;
  font-size: 0.8rem;
  text-align: right;
  font-weight: bolder;

  cursor: wait;
  border-radius: 1rem;
}

.filtres:hover {
  background-color: rgb(153, 204, 170);
}

/*avertissement*/
.avert {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

i {
  color: #0065fc;
}
.fa-circle {
  color: #f2f2f2;
}
.fa-stack {
  font-size: 0.5em;
}

#info {
  font-size: 0.7rem;
}
#avert {
  font-size: 0.9rem;
}

.principale {
  /*ensemble hébergements,populaires */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*2 sections de main sur fond gris*/
.principal1,
.principal2 {
  background-color: #f2f2f2;

  border-radius: 1rem;
}

.principal1 a,
.principal2 a,
.principal3 a,
.footer a {
  /*liens afficher plus et hébergement en noir non soulignés*/
  text-decoration: none;
  color: black;
}
.star i {
  font-size: 0.5rem;
  position: relative;
  top: -0.5rem;
}
.grise i {
  color: #f2f2f2;
}

/*section principal1(hébergements)*/
.principal1 {
  width: 60%;
}
.hebtitre {
  padding-left: 20px;
}
.hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.heb {
  width: 30%;
  height: 14rem;
  margin-bottom: 2rem;
}
.hebf {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin: 0;
}

.hebe,
.hebep {
  width: 100%;
  height: 8rem;
  object-fit: cover;

  padding-left: 2px;
  padding-top: 2px;
  border-radius: 1rem 1rem 0 0;
}
.hebebe {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  object-position: 0rem -4rem;

  padding-left: 2px;
  padding-top: 2px;
  border-radius: 1rem 1rem 0 0;
}
.hebebebe {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  object-position: 0rem -9rem;

  padding-left: 2px;
  padding-top: 2px;
  border-radius: 1rem 1rem 0 0;
}

.hebergements figcaption {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 100%;

  padding-left: 1rem;
  padding-top: 0.2rem;
}

#afficher {
  margin: 2rem 0 2rem 1rem;
}

/*section principal2 (populaires)*/
.principal2 {
  width: 34%;
}
.poptitre {
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}
.poptitre i {
  color: #000;
  position: relative;
  top: -4rem;
  right: 1rem;
}
.populaires {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.pop {
  width: auto;
  height: auto;
  margin-top: -1rem;
}
.popf {
  /*figures*/

  width: auto;
  height: 11rem;
  display: flex;

  background-color: white;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin-top: 20px;
  margin-left: 0;
}
.popu,
.popul {
  width: 11rem;
  height: 10.7rem;

  object-fit: cover;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 1rem 0 0 1rem;
}

.populaires figcaption {
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  width: 8rem;
  height: 10.8rem;

  padding-top: 0.3rem;
  padding-left: 1rem;
}
.principal2 i {
  padding-top: 5rem;
}

/* section principal3 activités*/

.principal3 {
  padding: 2rem;
}
.activites {
  display: flex;
  justify-content: space-evenly;
}

.actt1 {
  width: 96%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin-left: 0;
  margin-right: 0;
}

.actt2 {
  width: 96%;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 3px 3px 0 #f2f2f2;
  margin-left: 0;
  margin-right: 0;
}
.acti1 {
  width: 100%;
  height: 25.8rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.acti2 {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.acti3 {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.acti4 {
  width: 100%;
  height: 25.8rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.acti5 {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.acti6 {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.legende1 {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 96%;
  height: 51px;

  padding-left: 1rem;
  padding-top: 0.3rem;
}
.legende36 {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 248px;
  height: 51px;

  padding-left: 1rem;
  padding-top: 0.3rem;
}

/*pied de page*/
footer {
  padding: 2rem 30rem 2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: #f2f2f2;
}
footer ol {
  list-style-type: none;
  line-height: 20px;
}
footer a {
  text-decoration: none;
  color: black;
}
h4 {
  font-size: 0.9rem;
  padding-left: 2.5rem;
  padding-bottom: 0%;
}
.apropos {
  display: block;
}
.noshebergements {
  display: block;
}
.assistance {
  display: block;
}
