/*police raleway*/
@font-face {
  font-family: "ralewayregular";
  src: url("raleway-regular-webfont.eot");
  src: url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("raleway-regular-webfont.woff") format("woff"),
    url("raleway-regular-webfont.ttf") format("truetype"),
    url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: ralewayregular, Arial, Verdana, sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
p {
  font-size: 1em;
}
/*barre navigation*/

nav {
  font-size: 0.7em;
}

.entete ol {
  list-style-type: none;
  padding-left: 0;
}

.entete {
  display: inline-block;
}
/*filtres changent au survol, boutons arrondis, icone bleue sur fond bleu clair*/
button {
  background-color: #ffff;
  border: none;
  height: 2em;
}

.filtres {
  margin: 2rem auto;
  min-width: 12em;
  max-width: auto;
  border: solid;
  border-color: #f2f2f2;
  border-width: 0.15em;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
  padding: 0 4em 2.3em 0;
  cursor: wait;
  border-radius: 90px;
}

.filtres:hover {
  background-color: rgb(153, 204, 170);
}
/*icones dans filtres*/
.filtres img {
  height: 1.5em;
  padding: 5px;
  border-style: none;
  border-radius: 360px;
  border-color: black;
  background-color: #deebff;
  vertical-align: middle;
}
#header {
  padding: 0 5em 0 5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chercher {
  max-height: 1em;
  max-width: 1em;
}
