/*police raleway*/
* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.5em;
  font-weight: bolder;
}
p {
  font-size: 1em;
}
/*barre navigation*/

nav {
  font-size: 0.7em;
}

.entete ol {
  min-width: 300px;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
}

.entete {
  display: flex;
}
/*filtres changent au survol, boutons arrondis, icone bleue sur fond bleu clair*/
button {
  background-color: #ffff;
  border: none;
  height: 2em;
}

.filtres {
  margin: 2rem auto;
  min-width: 12em;
  max-width: auto;
  border: solid;
  border-color: #f2f2f2;
  border-width: 0.15em;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
  padding: 0 4em 2.3em 0;
  cursor: wait;
  border-radius: 90px;
}

.filtres:hover {
  background-color: rgb(153, 204, 170);
}
.filtres img {
  /*icones dans filtres*/
  height: 1.5em;
  padding: 5px;
  border-style: none;
  border-radius: 360px;
  border-color: black;
  background-color: #deebff;
  vertical-align: middle;
}
#header {
  padding: 0 5em 0 5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.chercher {
  max-width: 2.5%;
}
.rechercher {
  background-color: #0065fc;
  border: none;
  border-radius: 0 90px 90px 0;
}
/*pied de page*/
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1em 5em 1em 5em;
}
