/*police raleway*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.4rem;
  font-weight: bolder;
}
h2 {
  font-size: 1.1rem;
  font-weight: bolder;
  line-height: 1rem;
}
p {
  font-size: 1rem;
  line-height: 1rem;
}
body {
  width: 100%;
}
header {
  width: auto;
}

/*barre navigation*/
.logo img {
  width: 8rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.entete {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.entete ol:last-child {
  order: -2;
}
header ol {
  min-width: 12rem;
  list-style-type: none;
  display: flex;
}

#insc {
  color: #0065fc;
  font-weight: bold;
  text-decoration: none;
}
.entete1 a {
  color: black;
}
.entete1 a:hover {
  color: #0065fc;
  text-decoration: underline;
}
.entete2 {
  position: relative;
  left: 13rem;
  top: -4rem;
}
.entete1 {
  width: 83%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 0rem;
  top: -4rem;
  padding: 0;
}
/*sous le header section1*/
.section1 {
  width: auto;
  margin: 0 0 0 2%;
  position: relative;
  top: -6rem;
}

/*zone de recherche*/

.rechercher i {
  position: absolute;
  color: #000;
  background-color: #f2f2f2;
  padding: 0.6rem 1rem;
  border-radius: 1rem 0 0 1rem;
}
.rechercher input {
  width: 10rem;
  height: 1.7rem;
  position: relative;
  left: 2.6rem;
  bottom: 0rem;
  border-color: #f2f2f2;
}
.chercher {
  height: 0rem;
  background-color: #0065fc;
  padding: 0;
  border-radius: 0 1rem 1rem 0;
  position: relative;
  left: 2.3rem;
}
.loupe i {
  display: block;
  font-size: 0.9rem;
  color: white;
  background-color: #0065fc;
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  bottom: -0.7rem;
}

#chercher {
  display: none;
  font-size: 0rem;
  color: white;
}
/*filtres*/
.sectionfiltres {
  display: block;
}
.filtressmall {
  margin-left: 0rem;
}
.filtres1 {
  margin-left: 4rem;
}
.filtres {
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: -1rem;
}
