/*police raleway*/
* {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 1.2rem;
  margin: 1.5rem 0 0 1rem;
  font-weight: bolder;
}
h2 {
  font-size: 1rem;
  font-weight: bolder;
  line-height: 0.8rem;
}
p {
  font-size: 0.8rem;
  line-height: 0rem;
}
body {
  width: 100%;
}
/*barre navigation*/

.entete {
  font-size: 0.8em;
}

header ol {
  min-width: 300px;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-around;
}
header {
  padding: 0 5em 0 5em;
  display: flex;
  justify-content: space-between;
}
/*filtres changent au survol, boutons arrondis, icone bleue sur fond bleu clair*/
button {
  background-color: #ffff;
  border: none;
  height: 2em;
  width: auto;
}
.filtres1 {
  margin: 2rem auto;
  min-width: auto;
  max-width: auto;
  border: none;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
  padding: 0 4em 2.3em 0;
}
.filtres {
  margin: 2rem auto;
  min-width: 12em;
  max-width: auto;
  border: solid;
  border-color: #f2f2f2;
  border-width: 0.15em;
  color: black;
  font-size: 0.8rem;
  text-align: justify;
  font-weight: bolder;
  padding: 0 4em 2.3em 0;
  cursor: wait;
  border-radius: 90px;
}

.filtres:hover {
  background-color: rgb(153, 204, 170);
}
.filtres img {
  /*icones dans filtres*/
  height: 1.5em;
  padding: 5px;
  border-style: none;
  border-radius: 50%;
  background-color: #deebff;
  vertical-align: middle;
}

.chercher {
  max-width: 15px;
}
.rechercher {
  background-color: #0065fc;
  border: none;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
/*pied de page*/
.footer {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em 30em 1em 5em;
  background-color: #f2f2f2;
}
.footer ol {
  list-style-type: none;
}

/*section principale de la page*/
/*police raleway*/

main {
  /*ensemble hébergements,populaires et activités*/
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}
/*2 sections de main sur fond gris*/
.principal1,
.principal2 {
  background-color: #f2f2f2;

  border-radius: 1rem;
}

.principal1 a,
.principal2 a,
.principal3 a {
  /*liens afficher plus et hébergement en noir non soulignés*/
  text-decoration: none;
  color: black;
}

section {
  margin: 1rem;
}

/*section principal1(hébergements)*/
.principal1 {
  width: 60%;
  max-height: 35rem;
}
.hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.heb {
  width: 30%;
  height: 11rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 1rem;

  margin-left: 0;
  margin-right: 0;
}
.hebe {
  max-width: 96%;
  position: relative;
  top: -1.5rem;
  padding: 1.8rem 0.3rem 0.3rem 0.3rem;
  border-radius: 1rem;
}

.hebergements figcaption {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  width: 92.4%;
  height: 5.5rem;
  position: absolute;
  bottom: -1rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.star {
  display: flex;
}
.star img {
  min-width: 0.7rem;
  height: auto;
  padding: 0;
}
#afficher {
  margin: 2rem 0 2rem 1rem;
}

/*section principal2 (populaires)*/
.principal2 {
  width: 32%;
  display: block;
  padding-left: 1rem;
}

.populaires {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.pop {
  /*figures*/

  height: 9rem;
  width: 9rem;
  position: relative;

  background-color: white;
  border-radius: 1rem;

  margin-left: 0rem;
  margin-top: -1rem;
}
.populaires img {
  height: 8.5rem;
  width: 96%;
  padding-top: 1.8rem;
  border-radius: 1rem;
}

.populaires figcaption {
  background-color: white;
  border-radius: 0 1rem 1rem 0;
  width: 12rem;
  height: 8.7rem;
  position: absolute;
  top: 0rem;
  right: -12rem;

  padding-left: 1rem;
  padding-top: 0.3rem;
}
.star {
  display: flex;
}
.star img {
  display: flex;
  width: 0.5rem;
  height: auto;
  padding: 0;
}
/*section activités*/
.activites {
  display: flex;
}

.principal3 {
  margin-left: 6%;
  width: 90%;
}
.titpop {
  color: blue;
  line-height: 1rem;
}
